{{ define "main" }}
    <h1 class="font-bold font-thin text-3xl text-gray-800 text-center">{{ upper .Section }}</h1>
    {{ if gt (len .Pages) 1}}
    <div class="flex flex-wrap justify-center md:justify-between text-center">
        {{ range .Pages.ByWeight }}
            <article class="text-gray-700 mx-4 sm:mx-12 mb-4 w-full md:w-2/5">
                <h2 class="font-bold font-thin text-2xl text-gray-700">{{ .Title }}</h2>
                {{ .Content }}
            </article>
        {{ end }}
    </div>
    {{ else }}
    <div>
        {{ range .Pages.ByWeight }}
            <article class="text-gray-700 mx-4 sm:mx-12 mb-4 w-full md:w-2/5">
                <h2 class="font-bold font-thin text-2xl text-gray-700">{{ .Title }}</h2>
                {{ .Content }}
            </article>
        {{ end }}
    </div>
    {{ end }}
{{ end }}